
*.xccheckout

*.xcuserstate

*.xcscheme

ASHStatusItemPopover.xcodeproj/xcuserdata/ahartford.xcuserdatad/xcschemes/xcschememanagement.plist

*.pbxproj

*.pbxproj

*.pbxproj

ASHStatusItemPopover.xcodeproj/project.pbxproj

ASHStatusItemPopover.xcodeproj/project.pbxproj

ASHStatusItemPopover.xcodeproj/project.pbxproj
